html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,img,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,#container,aside,canvas,details,figcaption,figure,#footer,#header,#header_page,#menu,#nav,#section,summary,time,mark,audio,video{border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;margin:0;padding:0}

body{
	line-height:1;
	background:#efefef url(../images/footer_tile.png);
	text-align:center;
}
	body.bg_2 #header{background:#56771f url(../images/image_2.jpg) repeat-x left bottom}
	body.bg_3 #header{background:#56771f url(../images/image_3.jpg) repeat-x left bottom}
	body.bg_4 #header{background:#56771f url(../images/image_4.jpg) repeat-x left bottom}
	body.bg_5 #header{background:#56771f url(../images/image_5.jpg) repeat-x left bottom}
a{
	font-size:100%;
	vertical-align:baseline;
	background:transparent;
	color:#525252;
	margin:0;
	padding:0
}
a img{outline:none;}
.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}
.align_right{text-align:right}
.align_left{text-align:left}
.align_center{text-align:center}
.align_justify{text-align:justify}

a:hover,a:focus{text-decoration:underline}

h1,h2,h3,h4,h5{line-height:1.1em;margin:0 0 0.5em}
	h1{font-size:2.52em}
	h2{font-size:1.952em}
	h3{font-size:1.652em}
	h4{font-size:1.452em}
	h5{font-size:1.252em}
	h6{font-size:1.52em}
p{
	text-align:justify;
	margin:0 0 1.52em;
}

#header{
	position:relative;
	height:195px;
	background:#56771f url(../images/image_1.jpg) repeat-x left bottom;
	padding:25px 0 0;
	text-align:left;
}
	#header #logo{
		position:absolute;
		display:block;
		width:137px;
		height:137px;
		background:url(../images/logo.png) no-repeat left top;
		top:23px;
		left:50%;
		margin-left:-68.5px;
		z-index:1
	}
	#header #logo span{
		display:none;
	}
	#header #nav{
		position:relative;
		height:90px;
		background:url(../images/menu_bg.png) left bottom;
		margin:0;
		padding:0 0 0 30px;
		/*
		background: rgb(0, 0, 0);
		background: rgba(0, 0, 0, 0.6);
		filter:alpha(opacity=60);*/
	}
		#header #nav a{
			position:relative;
			display:block;
			height:90px;
			line-height:90px;
			color:#fff;
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-size:13px;
			font-weight:600;
			text-decoration:none;
			padding:0 20px;
			float:left;
		}
		#header #nav a:hover{
			color:#5C9731;
			text-decoration:underline;
		}
		#header #nav ul{
			position:relative;
			width:960px;
			margin:0 auto;
		}
		#header #nav li{
			position:relative;
			float:left;
			display:inline-block;
			margin:0;
		}
		#header #nav li.right{
			position:relative;
			float:left;
			margin:0 0 0 190px;
		}

ul li,ol li{margin-left:25px}


#wrapper{
	position:relative;
	background:#fff url(../images/body_bg.png) repeat-x left top;
	text-align:left;
	width:960px;
	left:50%;
	margin-left:-480px;

}
#container{
	position:relative;
	width:800px;
	padding:30px 80px; 
}
	#header_page h1{
		position:relative;
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-size:18px;
		font-weight:600;
		text-align:center;
	}
	#header_page h2{
		position:relative;
		text-align:center;
		color:#999;
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-size:16px;
		font-weight:600;
		text-align:center;
		line-height:30px;
		border-bottom:1px solid #ebebeb;
		margin:0 0 2em;
		padding:0 2em 1em;
	}
	
	.fixture_table_titles{
		position:relative;
		width:800px;
		height:15px;
		display:inline-block;
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		border-bottom:1px solid #DBDBDB;
	}
	.separator{
		position:relative;
		height:10px;
	}
		.fixture_table_titles .fixture_col_1{
			position:relative;
			float:left;
			width:220px;
		}
			.fixture_col_1 p{
				text-align:left;
				font-size:14px;
				font-weight:600;
			}
		.fixture_table_titles .fixture_col_2{
			position:relative;
			float:left;
			width:90px;
			text-align:center;
		}
			.fixture_col_2 p{
				text-align:center;
				font-size:14px;
				font-weight:600;
			}
		.fixture_table_titles .fixture_col_3{
			position:relative;
			float:left;
			width:220px;
			text-align:left;
		}
			.fixture_col_3 p{
				text-align:left;
				font-size:14px;
				font-weight:600;
			}
		.fixture_table_titles .fixture_col_4{
			position:relative;
			float:left;
			width:90px;
			text-align:center;
		}
			.fixture_col_4 p{
				text-align:center;
				font-size:14px;
				font-weight:600;
			}
		.fixture_table_titles .fixture_col_5{
			position:relative;
			float:left;
			width:90px;
			text-align:center;
		}
			.fixture_col_5 p{
				text-align:center;
				font-size:14px;
				font-weight:600;
			}
		.fixture_table_titles .fixture_col_6{
			position:relative;
			float:left;
			width:90px;
			text-align:center;
		}
			.fixture_col_6 p{
				text-align:center;
				font-size:14px;
				font-weight:600;
			}
	.fixture_table_content{
		position:relative;
		width:800px;
		height:15px;/*
		background-color: #FFFFFF !important;
	    border-bottom: 1px solid #DFDFDF;*/
	}
	.even{
		background-color: pink !important;
		}
	.odd{
		margin-top:0px;
		background-color: red !important;
	}
		.fixture_table_content .content_col_1{
			position:relative;
			float:left;
			width:220px;
		}
			.content_col_1 p{
				text-align:left;
				font-size:14px;
				font-weight:600;
			}
		.fixture_table_content .content_col_2{
			position:relative;
			float:left;
			width:90px;
			text-align:center;
		}
			.content_col_2 p{
				text-align:center;
				font-size:14px;
				font-weight:600;
			}
		.fixture_table_content .content_col_3{
			position:relative;
			float:left;
			width:220px;
			text-align:left;
		}
			.content_col_3 p{
				text-align:left;
				font-size:14px;
				font-weight:600;
			}
		.fixture_table_content .content_col_4{
			position:relative;
			float:left;
			width:90px;
			text-align:center;
		}
			.content_col_4 p{
				text-align:center;
				font-size:14px;
				font-weight:600;
			}
		.fixture_table_content .content_col_5{
			position:relative;
			float:left;
			width:90px;
			text-align:center;
		}
			.content_col_5 p{
				text-align:center;
				font-size:14px;
				font-weight:600;
			}
		.fixture_table_content .content_col_6{
			position:relative;
			float:left;
			width:90px;
			text-align:center;
		}
			.content_col_6 p{
				text-align:center;
				font-size:14px;
				font-weight:600;
			}
	
/************FOOTER*******************/
#footer{background:#efefef url(../images/footer_tile.png);clear:both;padding:0}
#footer .inside{background:url(../images/footer.png) repeat-x left top;position:relative;height:200px;}
#footer h4,#footer h5{font-family:Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;text-shadow:1px 1px 0 #fff;color:#6e6e6e;font-size:30px;text-align:center;line-height:20px}
#footer small{font-size:11px;display:block;font-weight:400}
#footer h5{font-size:18px}.szolgaltatasok{margin:0 -100px}
#footer .content {width:340px;height:130px;position:absolute;top:50%;left:50%;margin-top:-65px;margin-left:-170px;}
#footer .copyright {font-size:11px;position:absolute;left:0;width:100%;bottom:5px;text-align:center;color:#999}
#footer h5 a {text-decoration:none;color:#6E6E6E;}
