.team_name{
	position:relative;
	width:800px;
}
	.team_name p{
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-size:20px;
		font-weight:800;
		color:#5C9731;
		text-align:center;
	}
.contenedor1{
	position:relative;
	width:800px;
	display:inline-block;
}
	.contenedor1 .titular{
		position:relative;
		float:left;
		width:120px;
		display:inline-block;
	}
	.shirt_equipo{
		float:left;
		width:80px;
		height:80px;
		background-image:url('../images/equipos/shirt.png');
		background-repeat:no-repeat
	}
	.no_shirt_equipo{
		float:left;
		width:80px;
		height:80px;
		background-image:url('../images/equipos/no-shirt.png');
		background-repeat:no-repeat
	}
		.contenedor1 .titular .shirt_left{
			float:left;
			width:42px;
			height:80px;
			background-image:url('../images/equipos/shirt-left.png');
			background-repeat:no-repeat
			}
		.contenedor1 .titular .shirt_middle{
			float:left;
			width:13px;
			height:80px;
			background-image:url('../images/equipos/shirt-middle.png');
			background-repeat:no-repeat
			}
		.contenedor1 .titular .shirt_right{
			float:left;
			width:27px;
			height:80px;
			background-image:url('../images/equipos/shirt-right.png');
			background-repeat:no-repeat	
			}
	.contenedor1 .link_fixture{
		position:relative;
		float:left;
		width:130px;
		text-align:center;
	}
		.contenedor1 .link_fixture a{
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-size:16px;
			font-weight:400;
			color:#000;
			text-align:center;
		}
	.contenedor1 .category_name{
		position:relative;
		float:left;
		width:300px;
	}
		.contenedor1 .category_name p{
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-size:16px;
			font-weight:600;
			color:#000;
			text-align:center;
		}
	.contenedor1 .link_posiciones{
		position:relative;
		float:left;
		width:130px;
		text-align:center;
	}
		.contenedor1 .link_posiciones a{
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-size:16px;
			font-weight:400;
			color:#000;
			text-align:center;
		}
	.contenedor1 .suplente{
		position:relative;
		float:left;
		width:120px;
		text-align:right;
	}
		.contenedor1 .suplente .shirt_left{
			float:left;
			width:42px;
			height:80px;
			background-image:url('../images/equipos/shirt-left.png');
			background-repeat:no-repeat
			}
		.contenedor1 .suplente .shirt_middle{
			float:left;
			width:13px;
			height:80px;
			background-image:url('../images/equipos/shirt-middle.png');
			background-repeat:no-repeat
			}
		.contenedor1 .suplente .shirt_right{
			float:left;
			width:26px;
			height:80px;
			background-image:url('../images/equipos/shirt-right.png');
			background-repeat:no-repeat	
			}

.equipo_foto{
	position:relative;
	width:800px;
	text-align:center;
	margin-top:30px;

}
.equipo_foto img{
               border:3px double #5C9731;
		  
			  }

.equipo_historia{
	position:relative;
	width:800px;
	margin-top:30px;
}
	.equipo_historia h1{
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-size:13px;
		font-weight:600;
		color:#3D3D3D;
		text-decoration:underline;
	}
	.equipo_historia p{
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-size:12px;
		font-weight:400;
		color:#3D3D3D;
		line-height:15px;
	}

.tabla_jugadores{
	position:relative;
	width:800px;
	margin-top:40px;
}
	.tabla_jugadores h1{
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-size:14px;
		font-weight:800;
		color:#3D3D3D;
		text-transform:uppercase;
		text-align:center;
		margin-bottom:30px;
	}

	table.equipos {
			border: medium none !important;
			border-collapse: collapse;
			color: #333333;
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			width: 400px;
			margin-left:200px;
	}
		table.equipos thead th{
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			color: #000000 !important;
			font-weight: 600;
			height: 20px !important;
			line-height: 25px !important;
			padding: 0 5px !important;
			text-align: left !important;
			font-size: 14px;
			border-bottom:1px solid #D3D3D3;
		}
		table.equipos tbody tr.even {
			background-color: #DBDBDB !important;
			border-bottom: 1px solid #DFDFDF;
			border-left: medium none;
		}
		table.equipos tbody tr.odd, table.equipos tbody tr.odd td {
			border-bottom: 1px solid #DFDFDF;
		}
		table.equipos tbody td {
			padding: 2px 0 !important;
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-size:13px;
			font-weight:600;
		}
		table.equipos tbody th {
			padding: 5px !important;
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-size:13px;
			font-weight:600;
		}
		table.equipos tbody td a, table.equipos tbody th a {
			color: #333333;
			font-weight: 600;
			text-decoration: none;
		}
		table.equipos .o {
			padding: 0 5px !important;
			text-align: center !important;
			width: 69px;
		}
		table.equipos .t {
			width: 200px;
			text-align: left !important;
		}

	#white_space{
		position:relative;
		width:800px;
		height:20px;
	}
	
.equipos_all_contenedor{
	position:relative;
	width:800px;
	font-size: 10pt;
	display:inline-block;
	margin:0 auto;
}
	table.equipos_all {
		border: medium none !important;
		border-collapse: collapse;
		color: #333333;
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		width: 200px;
		float:left;
		margin-right:38px;
		margin-left:300px;
		margin-bottom:40px;
	}

			table.equipos_all thead th{
				font-family: 'Open Sans', Times, Times New Roman, sans-serif;
				color: #5E9527!important;
				font-weight: 700;
				height: 20px !important;
				line-height: 25px !important;
				padding: 0!important;
				text-align: left !important;
				font-size: 14px;
				border-bottom:1px solid #D3D3D3;
			}
			table.equipos_all tbody tr.even {
				background-color: #DBDBDB !important;
				border-bottom: 1px solid #DFDFDF;
				border-left: medium none;
			}
			table.equipos_all tbody tr.odd, table.equipos_all tbody tr.odd td {
				border-bottom: 1px solid #DFDFDF;
			}
			table.equipos_all tbody td {
				padding: 2px 0 !important;
				font-family: 'Open Sans', Times, Times New Roman, sans-serif;
				font-size:13px;
				font-weight:600;
			}
			table.equipos_all tbody th {
				padding: 5px !important;
				font-family: 'Open Sans', Times, Times New Roman, sans-serif;
				font-size:13px;
				font-weight:600;
			}
			table.equipos_all tbody td a, table.equipos_all tbody th a {
				color: #333333;
				font-weight: 600;
				text-decoration: none;
			}
			table.equipos_all .t {
				width: 160px;
				text-align: left !important;
			}
