/* CSS Document */
.notas_contenedor{
	position:relative;
	width:800px;
}
	.nota{
		position:relative;
		width:600px;
		left:50%;
		margin-left:-300px;
	}
	.nota_info{
		position:relative;
		width:216px;
		display:inline-block;
	}
		.nota_autor{
			position:relative;
			width:108px;
			float:left;
			text-align:left;
		}
			.nota_autor h2{
				font-family: 'Open Sans', Times, Times New Roman, sans-serif;
				font-size:10px;
				font-weight:600;
				text-transform:capitalize;
			}
		.nota_fecha{
			position:relative;
			width:108px;
			float:left;
			text-align:right;
		}
			.nota_fecha h2{
				font-family: 'Open Sans', Times, Times New Roman, sans-serif;
				font-size:10px;
				font-weight:600;
			}
	
	.nota_header{
		position:relative;
	}
		.nota_header h1{
		position:relative;
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-size:18px;
		font-weight:600;
		color:#5C9731;
		}
	.nota_imagen_audio{
		position:relative;
		width:600px;
		display:inline-block;
	}
		.nota_imagen{
			position:relative;
			width:370px;
			float:left;
		}
		.nota_audio{
			position:relative;
			width:160px;
			float:left;
			margin-left:70px;
			margin-top:40px;
		}
	.nota_texto{
		position:relative;
		width:540px;
		margin-top:10px;
	}
		.nota_texto p{
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-size:13px;
			font-weight:600;
			color:#3D3D3D;
			line-height:15px;
			margin-bottom:8px;
		}
	.nota_separador{
		position:relative;
		width:540px;
		margin-top:30px;
		margin-bottom:30px;
	}

#paginacion{

}
#paginacion a{
	font-family: 'Open Sans', Times, Times New Roman, sans-serif;
	font-size:14px;
	font-weight:600;
	color:#000;
	padding-right:4px;
}

#paginacion strong{
	font-family: 'Open Sans', Times, Times New Roman, sans-serif;
	font-size:14px;
	font-weight:700;
	color:#5C9731;
	padding-right:4px;
	
}

