/* CSS Document */

#acceso-login{
	position:relative;
	width:800px;
	height:175px;
	margin-left:80px;
	margin-top:14px;
	}
	#borrar{
		position:relative;
		margin-top:22px;
		}
	#formID_home label{
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-weight:400;
			font-size:12px;
			color:#666666;
			}
		#formID_home input{
			position:relative;
			width:144px;
			height:19px;
			margin-bottom:0px;
			}
		#formID_home input.submit{
			position:relative;
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-weight:700;
			font-size:12px;
			color:#139B2F;
			width:55px;
			border:none;
			background:none;
			cursor:pointer;
			}

.preinscripcion_contenedor{
	position:relative;
	width:800px;
	font-size: 10pt;

}
	.preinscripcion_contenedor #menu_preinscripcion p a{
		position:relative;
		margin-right:20px;
		font-weight:700;
		color:#5C9731;
		text-decoration:none;
	}
	
	h1{
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-weight:700;
		font-size:14px;
		color:#666666;
	}
	p{
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-weight:400;
		font-size:12px;
		color:#000000;
	}
	
	#formID_upload_equipo label{
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-weight:400;
			font-size:12px;
			color:#666666;
			margin-bottom:30px;
	}
		#formID_upload_equipo input{
			position:relative;
			width:250px;
			height:19px;
			margin-bottom:30px;
		}
		#formID_upload_equipo textarea{
			position:relative;
			width:250px;
			height:200px;
			margin-bottom:30px;
			resize:none;
		}
		#formID_upload_equipo input.submit{
			position:relative;
			width:100px;
			height:20px;
			}
	
	#table_preinscriptos tr th{
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-weight:700;
		font-size:13px;
		color:#666666;
	}
	#table_preinscriptos tr td{
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-weight:400;
		font-size:12px;
		color:#666666;
	}

#upload_photo_success{
	position:relative;
	margin:40px 0 40px 0;
}

#camisetas{
	position:relative;
	width:800px;
	display:inline-block;
}
	#colores_a_ingresar{
		position:relative;
		width:400px;
		float:left;
	}
	#colores_ingresados{
		position:relative;
		width:400px;
		float:left;
		display:inline-block;
	}
	#colores_titulares{
		position:relative;
		width:100px;
		display:inline-block;
	}
	#colores_alternativas{
		position:relative;
		width:100px;
		display:inline-block;
	}
	.shirt-left{
		width:33px;
		height:50px;
		background-image:url('../images/preinscripcion/shirt-left.png');
		background-repeat:no-repeat;
		float:left;
		margin-right:0px
	}
	.shirt-right{
		position:relative;
		width:18px;
		height:50px;
		background-image:url('../images/preinscripcion/shirt-right.png');
		background-repeat:no-repeat;
		float:left;
		margin-right:20px
	}
	.shirt{
		position:relative;
		width:50px;
		height:50px;
		background-image:url('../images/preinscripcion/shirt.png');
		background-repeat:no-repeat;
		float:left;
		margin-right:20px
	}
	.no-shirt{
		position:relative;
		width:50px;
		height:50px;
		background-image:url('../images/preinscripcion/no-shirt.png');
		background-repeat:no-repeat;
		float:left;
		margin-right:20px
	}