.sanciones_contenedor{
	position:relative;
	width:800px;
}
	.sanciones_contenedor .titular_sanciones{
		position:relative;
		height:25px;
		background:#848484;
	}
	.sanciones_contenedor h1{
		position:relative;
		font-family: 'Open Sans', Times, Times New Roman, sans-serif;
		font-weight:700;
		font-size:12px;
		color:#FFFFFF;
		top:5px;
		left:5px;
	}


	table.sanciones{
			border: medium none !important;
			border-collapse: collapse;
			color: #333333;
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			width: 800px;
			margin-bottom:45px;
	}
		table.sanciones thead th{
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			color: #5E9527 !important;
			font-weight: 700;
			height: 20px !important;
			line-height: 25px !important;
			padding: 0!important;
			text-align: left !important;
			font-size: 14px;
			border-bottom:1px solid #D3D3D3;
		}
		table.sanciones tbody tr.even {
			background-color: #DBDBDB !important;
			border-bottom: 1px solid #DFDFDF;
			border-left: medium none;
		}
		table.sanciones tbody tr.odd, table.sanciones tbody tr.odd td {
			border-bottom: 1px solid #DFDFDF;
		}
		table.sanciones tbody td {
			padding: 2px 0 !important;
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-size:13px;
			font-weight:600;
		}
		table.sanciones tbody th {
			padding: 5px !important;
			font-family: 'Open Sans', Times, Times New Roman, sans-serif;
			font-size:13px;
			font-weight:600;
		}
		table.sanciones tbody td a, table.sanciones tbody th a {
			color: #333333;
			font-weight: 600;
			text-decoration: none;
		}
		table.sanciones .o {
			padding: 0 5px !important;
			text-align: center !important;
			width: 40px;
		}
		table.sanciones .t {
			width: 160px;
			text-align: left !important;
		}
